<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761182177972-fitrbp6lmum8o18kuc030s80jk8vrrf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761182177972-fitrbp6lmum8o18kuc030s80jk8vrrf1</string>
	<key>API_KEY</key>
	<string>AIzaSyBaVokS9uivMFEQNVqFjLUMcBloC26WcUo</string>
	<key>GCM_SENDER_ID</key>
	<string>761182177972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todayMySchoolFinal</string>
	<key>PROJECT_ID</key>
	<string>today-my-school-final</string>
	<key>STORAGE_BUCKET</key>
	<string>today-my-school-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761182177972:ios:d1d917896b084d5c60a5e1</string>
</dict>
</plist>